MONITOR_ONLY=true
NEXT_PUBLIC_MONITOR_ONLY=true

OANDA_TOKEN=your_demo_token
OANDA_ACCOUNT_ID=your_demo_account_id
OANDA_ENV=practice

OANDA_LIVE_TOKEN=your_live_token
OANDA_LIVE_ACCOUNT_ID=your_live_account_id
OANDA_LIVE_CONFIRM=I_UNDERSTAND_LIVE_50_PERCENT_RISK
